@model KaShop.Models.Category


<h1>Edit Category</h1>

<hr />
<form asp-controller="Categories" asp-action="Update" method="post">
    <!--begin::Body-->
        <div class="mb-3">
            <label for="Name" class="form-label">Category Name</label>
        <input asp-for=Name class="form-control" id="Name">
        <input type="hidden"asp-for=Id />
        </div>
        <span class="text-danger" asp-validation-for="Name"></span>
     <!--begin::Footer-->
    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    <!--end::Footer-->
</form>

@section Scripts {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>

        <partial name="_validationscriptspartial"></partial>

}